
*.zip
*.rds
Data/cellline_annotation.tsv
Broad/.RData
Data/NCI_TPW_metadata.tsv
Data/drug_annotation.tsv
Data/Cleaning.R
Broad/.Rhistory
*.Rhistory
Broad/.Rhistory
Broad/.Rhistory
Others/~$Lapatinib-final.pptx
.RData
Main_Question/Erlotinib_Lapatinib.R
Main_Question/T-Test_erl_vs_lap.R
Main_Question/T-Test_erl_vs_lap.R
Main_Question/T-Test_erl_vs_lap.R
*.png
*.R
*.pdf
Main_Question/T-Test_erl_vs_lap.R
Others/Lapatinib-final.pptx
